{
    "Reader": {
        "Reader Type": "PC/SC",
        "PCSC Reader Name": "OMNIKEY CardMan 5x21-CL 0",
        "PCSC Native DLL": "",
        "VR Host": "denom.org",
        "VR Port": 4256,
        "VR Reader Name": "",
        "VR Client Name": "Comp",
        "VR Password": ""
    },
    "APDU Log Enabled": true,
    "Panel Transaction": {
        "Application AID": "A000000658 3030",
        "Transaction Amount": "1545"
    },
    "Main Frame": {
        "org.denom.terminal.kernel8.TerminalKernel8GUI0": {
            "state": "0",
            "x": "375",
            "y": "119",
            "w": "1117",
            "h": "952"
        },
        "javax.swing.JPanel2": {
            "x": "0",
            "y": "0",
            "w": "1101",
            "h": "913"
        },
        "javax.swing.JSplitPane8": {"div": "386"},
        "org.denom.terminal.kernel8.PanelTransaction12": {
            "x": "0",
            "y": "0",
            "w": "926",
            "h": "386"
        },
        "org.denom.terminal.kernel8.PanelReader27": {
            "x": "0",
            "y": "0",
            "w": "926",
            "h": "386"
        },
        "org.denom.smartcard.PanelSelectReader28": {
            "x": "10",
            "y": "10",
            "w": "640",
            "h": "220"
        }
    }
}