{
	"Host": "denom.org",
	//"Host": "localhost",
	"Resource Port": 4211,

	//"Host": "test.sls.team",
	//"Resource Port": 11266,

	"Transport Log": false,

	"Name": "DataAcceptor",
	"Description": "{\"test\":\"some description\"}",

	"My Key":
	{
		"Algorithm": "EC_Secp256r1",
		"Private": "7F2D373DDE0ADF73E3E9DD06974B9589A130692B2F1103073405BB43EE77D100",
		"Public":  "59E3EBDA2A5F0247222A7C67D437BFE3E5E46DAF2C2AB284EA49FDC40D8CDB32"
	}
}