{
	"File log": true,
	"Show transport": false,

	"Host": "",

	"Worker Threads": 8,
	"Session BufSize": 10000000,

	// Порт, по которому подключаются юзеры
	"User Port": 4210,

	"Resource":
	{
		// Порт, по которому подключаются ресурсы 
		"Port": 4211,

		// Таймаут в секундах - сколько Relay ждёт ответ от ресурса.
		// Если ресурс не уложится в отведенное время, то Relay закроет с ним соединение.
		"Timeout Sec": 30,

		// Максимальная длина строки с именем Ресурса
		"Name Max Length": 256,

		// Максимальная длина строки с описанием Ресурса
		"Description Max Length": 1024
	},

	"Relay Key":
	{
		"Algorithm": "EC_Secp256r1",
		"Private": "D4AC09FF5A0AA3A1B6BD74BE72DD16DF5997B299E6D3DF9B8B9D7ACDF2A9C0C7",
		"Public":  "F9FF4A0FE23F618CF6C1935319A30661A6793589423E0DE29D25F095A954FC08"
	}
}